<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
    <div class="navbar">
      <div>
          <h2>Attendance System</h2>
      </div>
     
    </div> 
  
   <div class="box">
   
    <div class="cardone">
    <form action="/post" method="post">
  <input type="text" class="crete"  name="name" placeholder="Student name"><br><br>
  <input type="number" class="crete"  name="clas" placeholder="Class of student"><br><br>
  <input type="number" class="crete"  name="phone" placeholder="Contact Number"><br><br>
  <input type="number" class="crete"  name="fees" placeholder="place tution fees"><br><br>
  <input type="number" class="crete"  name="daysmonth" placeholder="Total days for tution"><br><br>
  <button type="submit">Submit</button>

    </form>
</div>
   </div> 
   <div class="fot">&copy;<h5>Jetlin Karkha&Co.2025</h5></div>
   <script src="js/index.js"></script>
</body>
</html>